*,
html,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Montserrat";
	font-size: 1em;
	position: relative;
}

.logo {
	position: relative;
	padding-top: 2.8em;
	padding-bottom: 2em;
	text-align: center;
}
  	
.background {
	width: 100%;
	min-width: 960px;
	min-height: 100%;
	background-size: contain;
	position: fixed;
	z-index: 1;
	height: auto;
}

.opacity-box {
	background-color: rgba(0, 0, 0, 0.6);
	position: fixed;
	z-index: 2;
	height: 100vh;
	width: 100%
}

h1 {
  color: white;
  font-family: inherit;
  margin: 0px; auto;
  text-align: center;
  font-weight: 400;
  font-size: 6em;
  padding-bottom: 0.5em;
  font-family: "rokkitt";
}

p {
	text-align: center;
	color: white;
	font-weight: 300;
	font-size: 0.9em;
}

.content {
    position: relative;
    z-index: 10;
}

fieldset {
	text-align: center;
	margin: 0 auto;
	width: 40%;
	border: none;
}

input {
	color: #2d2d2d;
	font-size: 1em;
	font-weight: 600;
	width: 60%;
	min-width: 240px;
	height: 40px;
	border-radius: 25px;
	padding: 0 20px;
	border: none;
	margin-top: 1em;
	box-shadow: 0 0 10px black;
}

input:focus {
	outline: none;
	border: 2px solid #0080ff;
}

a {
	background-color: #0080ff;
	color: white;
	text-transform: uppercase;
	font-size: 0.7em;
    padding: 13px 24px;
    text-decoration: none;
    border-radius: 25px;
    letter-spacing: 0.08em;
    box-shadow: 0px 0px 10px black;
}

a:active {
	box-shadow: none;
	background-color: white;
	color: #0080ff;
}

input:placeholder-shown {
	color: #777777;
	font-weight: 400;
	font-family: "Arial";
}


@media all and (max-width: 960px) {
  body > img {
  	left: 50%;
  	margin-left: -480px;
  }

  h1 {
  	font-size: 4em;
  	padding-bottom: 10%;
  }

  input {
  	width: 80%;
  }

 }

@media all and (max-width: 1200px) {
	a {
		display: block;
		margin: 20px auto;
		width: 12em;
	}

	input {
    width: 80%;
	}

}
